<html>
   <body>
       <%= t %><br>
       <%= d %><br>
       <img src="data:image/jpeg;base64,<%= i %>" width="100" height="50"><br>
       Make: <%= ma %><br>
       Model: <%= mo %><br>
       Created on: <%= c %><br>
       Location:<a href="/map/<%= la %>/<%= lo %>">Map</a><br>
       <button onclick="href=/filetoupload" type="button">Home</button>
   </body>
</html>
