<html>
   <body>
       <%= t %><br>
       <%= d %><br>
       <img src="data:image/jpeg;base64,<%= i %>" width="1000" height="900"><br>
       Make: <%= ma %><br>
       Model: <%= mo %><br>
       Created on: <%= c %><br>
       Location:<a href="/map/">Map</a><br>
       <button onclick="href=/fileupload" type="button">Home</button>
   </body>
</html>
